* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body, h1 {
	font-family: "futura-pt",sans-serif;
	font-weight: 400;
	font-style: normal;
}
h2 {
	font-family: "future-pt",sans-serif;
	font-weight: 600;
	font-style: normal;
}
@media screen and (min-width: 320px) {
	.home {
		display: flex;
		flex: 1;
		flex-basis: 100%;
		flex-flow: column;
		justify-content: center;
	}
	.good-home {
		background-color: #19629F;
		color: #FBCA31;
		display: flex;
		flex: 1;
		flex-basis: 100%;
		justify-content: center;
		min-height: 50vh;
	}
	.bad-home {
		background-color: #FBCA31;
		color: #4E4E4E;
		display: flex;
		flex: 1;
		flex-basis: 100%;
		align-items: flex-end;
		justify-content: center;
		min-height: 50vh;
	}
	.good-home h2 {
		padding: 5vh 0;
	}
	.bad-home h2 {
		padding: 5vh 0;
	}
	.home-banner {
		background-color: rgba(255,255,255,.75);
		color: #4E4E4E;
		display: flex;
		flex: 1;
		justify-content: center;
		flex-flow: column;
		align-items: center;
		position: fixed;
		width: 100%;
		height: 15vh;
		padding: 20px 0;
	}
	.home-banner h1 {
		font-size: 1.75rem;
	}
	.home-banner img {
		width: 75px;
		height: 75px;
		padding-bottom: 5px;
	}
@media screen and (min-width: 720px) {
	.home {
		flex-flow: row;
		flex-wrap: wrap;
	}
	.home h2 {
		font-size: 2.5rem;
	}
	.good-home {
		flex-basis: 50%;
		justify-content: center;
		min-height: 100vh;
	}
	.bad-home {
		flex-basis: 50%;
		align-items: flex-start;
		min-height: 100vh;
	}
	.home-banner {
		align-self: flex-end;
		order: 1;
		height: 25vh;
	}
	.home-banner h1 {
		font-size: 2rem;
	}
	.home-banner img {
		width: 100px;
		height: 100px;
	}
}

/*********** HAMBURGER MENU STYLES - https://codepen.io/g13nn/pen/eHGEF ***********/

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

